In [1]:
# import packages
import pandas as pd
import numpy as np

In [2]:
# load cars data
cars_df = pd.read_csv('cars.csv', index_col = 0)
cars_df

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [3]:
# Extract drives_right column as Series
cars_df['drives_right']

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [4]:
# Subset DataFrame with drives_right observations
cars_df[cars_df['drives_right']]

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [5]:
# Another way to extract drives_right column as Series: using .loc()
cars_df.loc[:,'drives_right']

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [6]:
# Subset DataFrame with drives_right observations
cars_df[cars_df.loc[:,'drives_right']]

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [7]:
# Observations that have a cars_per_cap over 500
# As a DataFrame series
cars_df.loc[:,'cars_per_cap'] > 500

US      True
AUS     True
JAP     True
IN     False
RU     False
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [8]:
# As a subset DataFrame
cars_df[cars_df.loc[:,'cars_per_cap'] > 500]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [9]:
# Observations with cars_per_cap between 100 and 500
# As a DataFrame series
filt_between = np.logical_and(cars_df.loc[:,'cars_per_cap'] > 100, cars_df.loc[:,'cars_per_cap'] < 500)
filt_between

US     False
AUS    False
JAP    False
IN     False
RU      True
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [10]:
# As a subset DataFrame
cars_df[filt_between]

    cars_per_cap country  drives_right
RU           200  Russia          True